<div class="login-container">
  <form class="login-card" [formGroup]="loginForm"> <div class="logo-container">
      <div class="logo-circle"><img src="./BryzztoffLogo.png" alt="Logo"></div>
    </div>

    <h2>{{ isSignUpMode ? 'Create Account' : 'Login' }}</h2>
    
    <div class="input-group">
      <input type="text" formControlName="username" placeholder="Username">
      @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
        <small class="error">Username is required (min 3 chars)</small>
      }
    </div>

    @if (isSignUpMode) {
      <div class="input-group">
        <input type="email" formControlName="email" placeholder="Email Address">
      </div>
    }
    
    <div class="input-group">
      <input type="password" formControlName="password" placeholder="Password">
    </div>
    
    <div class="button-group">
      <button class="btn-primary" (click)="login()" [disabled]="!isSignUpMode && loginForm.get('username')?.invalid">
        {{ isSignUpMode ? 'Back to Login' : 'Sign In' }}
      </button>
      
      <button class="btn-secondary" (click)="signup()">
        {{ isSignUpMode ? 'Register Now' : 'Sign Up' }}
      </button>
    </div>
  </form>

  </div>